@font-face {
  font-family: 'Champagne_Limousines';
  src: url('Font/Champagne_Limousines.eot');
  src: url('Font/Champagne_Limousines.eot') format('embedded-opentype'),
       url('Font/Champagne_Limousines.woff2') format('woff2'),
       url('Font/Champagne_Limousines.woff') format('woff'),
       url('Font/Champagne_Limousines.ttf') format('truetype'),
       url('Font/Champagne_Limousines.svg#Frenchpressfreefont') format('svg');

}

html{
  height:90%;
  font-family: Champagne_Limousines;
}

body {
  background-color: #222;
  color:white;
  padding:15%;
}

.logo, #product_school_logo, .comment, #form {
  display:flex;
  justify-content: center;
  align-items: center;
}

#form {
  flex-direction: column;
  margin:10px;
}

#product_school_logo {
  width:369px;
  height:134.5px;
  margin-top: -20px;
}

.comment {
  font-size: 30px;
  margin-top: 20px;
}

#comment_area {
  margin:10px;
  width: 500px;
  height: 75px;
  border-radius:5px;
}

#submit_button {
  margin:10px;
  width:172px;
  border: none;
  height: 42px;
  border-radius: 5px;
  background-color: #df554d !important;
  color: white;
  font-size: 20px;
  cursor:pointer;
  font-family: Champagne_Limousines;
}

.thanks_message{
  display:flex;
  justify-content: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  color:white;
  font-size: 20px;
}

.ps_link {
  margin:20px auto;
  width:150px;
  height: 40px;
  border-radius: 5px;
  background-color: #df554d;
  display:flex;
  justify-content: center;
  align-items: center;
}
